.login{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login > .loginform{
    min-width: 300px;
    min-height: 400px;
}